* {
  margin: 0px;
  padding: 0;
}

body {
  background: rgb(225, 225, 225);  
  --lineHeight: 80px  
}

nav > h1 {
  cursor: default;
}

nav {
  background: rgb(255, 82, 82);
  justify-content: center;
  gap: 140px;
  padding: 0 40px;
}

nav > ul, nav {
  display: flex;
  line-height: var(--lineHeight);
}

nav > ul {
  line-height: var(--lineHeight);
  list-style: none;
}

nav > ul > li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  padding: 0 10px;
  transition: 120ms;
}

nav > ul > li a:hover{
  color: rgb(71, 71, 71);
}