* {
  margin: 0px;
  padding: 0;
}

body {
  background: red;    
}

nav {
  background: red;
  justify-content: space-between;
  padding: 0 40px;
}

nav > ul, nav {
  display: flex;
}

nav > ul {
  line-height: 40px;
  list-style: none;
}

nav > ul > li a{
  text-decoration: none;
  color: black;
}